.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
}

@media (min-width: 576px) {
    .bd-example {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
    }
}

h2 {
    margin-top: 3rem;
}

.bd-example > .list-group {
    max-width: 400px;
}

.bd-example > .nav + .nav,
.bd-example > .alert + .alert,
.bd-example > .navbar + .navbar,
.bd-example > .progress + .progress,
.bd-example > .progress + .btn {
    margin-top: 1rem;
}

.bd-example > .form-control + .form-control {
    margin-top: .5rem;
}
